body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 60px auto 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; 
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 45px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button#resetButton {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    background-color: #36f45f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#resetButton:hover {
    background-color: #1f9e29;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

li:hover {
    background-color: #e0e0e0;
}

.clientes-frecuentes-container {
    position: fixed;
    top: 20px;
    right: 20px;
}

.clientes-frecuentes-container ul {
    max-height: 200px;
    overflow-y: auto;
}

.clientes-frecuentes-container ul li {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.clientes-frecuentes-container ul li:hover {
    background-color: #e0e0e0;
}

.clientes-frecuentes-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
}

.clientes-frecuentes-container button:hover {
    background-color: #219226;
}
